# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Redis
REDIS_PASSWORD=
REDIS_APPENDONLY=yes
REDIS_PORT=6379

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Kafka (KRaft)
KAFKA_KRAFT_CLUSTER_ID=
KAFKA_PORT_INTERNAL=9092
KAFKA_PORT_EXTERNAL=29092

# MediaMTX
MEDIAMTX_RTSP_PORT=8554
MEDIAMTX_RTMP_PORT=1935
MEDIAMTX_HLS_PORT=8888
MEDIAMTX_WEBRTC_PORT=8889
MEDIAMTX_WEBRTC_ICE_UDP_PORT=8189
MEDIAMTX_SRT_PORT=8890

# Kafka UI
KAFKA_UI_PORT=8080
KAFKA_EXTERNAL_IP=

